<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smack-A-Mole</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, user-scalable=no" />
    
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <div class="container page">
      <div class="content" id="content">
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/underscore.js"></script>
    <script type="text/javascript" src="/javascripts/libs/backbone.js"></script>

    <script type="text/javascript" src="/javascripts/routers/application_router.js"></script>

    <script type="text/javascript" src="/javascripts/views/title_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/hole_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/score_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/mole_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/high_score_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/application_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/marquee_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/submit_score_view.js"></script>

    <script type="text/javascript" src="/javascripts/models/holes.js"></script>
    <script type="text/javascript" src="/javascripts/models/games.js"></script>
    <script type="text/javascript" src="/javascripts/models/moles.js"></script>
    
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </body>
</html>